<section class="" id="sidebar">
    <ul>
        <li>
            <a value="home" class="isActive" onclick="changeView(this)">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Home Page</span>
            </a>
        </li>
        <li>
            <a value="advancedreports" onclick="changeView(this)">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span>Advanced Reports</span>
            </a></li>
        <li>
            <a value="jobstatus" onclick="changeView(this)">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <span>Job Status</span>
            </a>
        </li>
        <li>
            <a value="projects" onclick="changeView(this)">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Other Projects</span>
            </a>
        </li>
        <li>
            <a value="preferences" onclick="changeView(this)">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span>Preferences</span>
            </a>
        </li>
    </ul>
    <div class="slide-controller">
        <a>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    </div>
</section>