.worldmap{
    width: 100%;
    height: 700px;
    position: relative;
}
.worldmap path{
    fill: #1a2938cb;
    stroke: #efefef;
    stroke-width: 4px;
    transition: all 0.5s ease;
}
.worldmap path[data-id="PH"]{
    fill: #e00606bb;
}
.worldmap path:hover{
    fill: #1a2938;
}
.side-borders{
    border-left: 1px solid #1a293850;
    border-right: 1px solid #1a293850;
}